.newsCard{
    /* border: 2px solid; */
    width: 330px;
    height: 500px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    border-radius:8px;
    overflow: hidden;
    background: white;
    position: relative;
   }
   .newsimg{
object-fit: cover;
    width: 330px;
    height:250px;
   }
   .newsCardTitle{
    margin: 5px;
    font-size: 20px;
    line-height: 1.5em;
    /* font-size: 14px; */
    color: #777;
   }
   .saveSharebtn{
 
  --b: 1.5px;  
  --s: .2em; 
  --color: #373B44;
  
  padding: calc(.2em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .1em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.saveSharebtn:hover,
.saveSharebtn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.saveSharebtn:active {
  background: var(--color);
  color: #fff;

   }
   .btns{
    position: absolute;
    bottom:10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
   }
  
   /* activeClassName={"itemactive "}
   breakClassName={"itembreak-me "}
   containerClassName={"pagination"}
   disabledClassName={"disabled-page"}
   nextClassName={"itemnext "}
     breakLabel="..."
     nextLabel="next >"
     onPageChange={handlePageClick}
     pageRangeDisplayed={5}
     pageCount={pageCount}
     previousClassName={"itemprevious"}
     previousLabel="< previous"
     renderOnZeroPageCount={null} */
.pagination{
  text-align: center;
  display: flex;
  /* width: 30%;   */
  width: 300px;
  border: 2px solid;
  align-items: center;
  justify-content: space-around;
}
li{
    list-style-type: none;
    cursor: pointer;
}
.nextprevbtns{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.itemactive{
  background-color: #373B44;
  border-radius: 7px;
  padding:2px;
}