.readMoreModal{
    top:50%;
    border: 2px solid rgb(248, 244, 235);
    width: 500px;
    height: 400 px;  
     position: absolute;
  z-index: 10;
  background-color: aliceblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 100px 100px 100px 100px;  
  }
  .newsimgmodal{
    width: 200px;
    height: 200px;
    display: inline;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
.imgcontent{
    display: flex;
}
.closeBtn{
  text-align: right;
  
}
.dateDiv{
  text-align: right;
}
.artcontent{
  overflow: auto;  
}
.readMoreTitle{
  font-size: 1.5em;
  font-weight: bolder;
}
.shareModal{
  top:50%;
  border: 2px solid rgb(248, 244, 235);
  background-color: aliceblue;
  width: 500px;  
 position: absolute;
z-index: 10;
/* background-color: aliceblue; */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.56) 100px 100px 100px 100px;  
}
.icon{
  margin: 5px;
  margin-top: 20px;
}
.sharemodalTitle{
  font-size: 2em;
  font-weight: bolder;
}
@media (max-width:550px) {
  .readMoreModal{
    width: 450px;
  }
  .shareModal{
    width: 450px;
  }
}
@media (max-width:500px) {
  .readMoreModal{
    width: 430px;
    /* height: 400px; */
  }
  .imgcontent{
    display: flex;
    flex-direction: column;
}
  .shareModal{
    width: 400px;
  }
  .readMoreTitle{
    font-size: 1.2em;}
}
@media (max-width:400px) {
  .readMoreModal{
    width: 220px;
  }
}

@media (max-width:450px) {
  .readMoreModal{
    width: 390px;
  }
  .shareModal{
    width: 380px;
  }
}
@media (max-width:436px) {
  .readMoreModal{
    width: 320px;
  }
  .shareModal{
    width: 340px;
  }
}
@media (max-width:492px) {
  .readMoreModal{
    width: 370px;
  }
  .shareModal{
    width: 300px;
  }
}
@media (max-width:390px) {
  .readMoreModal{
    width: 270px;
  }
  .shareModal{
    width: 270px;
  }
}